@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
.App {
  text-align: center;
}

.default-btn {
	display: block;
	position: relative;
	width: 150px;
	height: 50px;
	color: white;
	font-size: 15px;
	text-transform: uppercase;
	background-color: #ca6702;
	border: none;
	margin: 20px auto 50px auto;
	border-radius: 10px;
	box-sizing: border-box;
	cursor: pointer;
	font-family: 'Press Start 2P', cursive;
	outline: none;
}

.default-btn::after {
	content: "";
	position: absolute;
	width: 150px;
	height: 50px;
	top: 12px;
	left: 0;
	background-color: #bb3e03;
	border-radius: 10px;
	z-index: -1;
}
.default-btn:hover {
	background-color: #ae2012;
}
.default-btn:active {
	top: 10px;
}
.default-btn:active::after {
	top: 2px;
}
h4{
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  line-height: 1.7rem;
}

.joke-box{
	width: 600px;
	align-items: center;
	justify-content: center;
	margin: auto;
	background-color: #e9d8a6;
	padding: 20px 35px 20px 35px;
	border-radius: 12px;
	box-sizing: border-box;
	border-color: #bb3e03;
	border-style: dashed;
	border-width: 6px;
	overflow-wrap: break-word;

}

